<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="/product">Product</a></li>
                    <li><a href="/cart">Cart</a></li>
                    <li><a href="/checkout">Checkout</a></li>
                    <li><a href="/wishlist">Wishlist</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div> <!-- End mainmenu area -->

<div class="single-product-area">
    <div class="container shop-search">
        <div class="row">
            <div class="col-md-4">
                <div class="product-search">
                    <div class="row">
                        <form action="/product" method="get">
                            <input type="text" name="search" placeholder="Search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="col-sm-2">
            <form action="">
                <div class="form-title">Hãng sản xuất:</div>
                <label class="form-label" onclick="selectParam('brandId', '', true)">Tất cả
                    <input type="radio" id="0" name="hang" value="0" checked><span
                            class="checkmark"></span>
                </label>
                {{#each brands}}
                    <label class="form-label" onclick="selectParam('brandId', {{id}}, true)">{{name}}
                        <input type="radio" id="brandId{{id}}" name="hang" value="{{name}}"><span
                                class="checkmark"></span>
                    </label>
                {{/each}}

                <div class="form-title">Giá:</div>
                <label class="form-label" onclick="selectParam('price', 0)">Tất cả
                    <input type="radio" id="0" name="price" value="0" checked><span class="checkmark"></span>
                </label>
                <label class="form-label" onclick="selectParam('price', 1)">Dưới 2tr
                    <input type="radio" id="1" name="price" value="1"><span class="checkmark"></span>
                </label>
                <label class="form-label" onclick="selectParam('price', 2)">Từ 2tr - 5tr
                    <input type="radio" id="2" name="price" value="2"><span class="checkmark"></span>
                </label>
                <label class="form-label" onclick="selectParam('price', 3)">Từ 5tr - 10tr
                    <input type="radio" id="3" name="price" value="3"><span class="checkmark"></span>
                </label>
                <label class="form-label" onclick="selectParam('price', 4)">Từ 10tr - 20tr
                    <input type="radio" id="4" name="price" value="4"><span class="checkmark"></span>
                </label>
                <label class="form-label" onclick="selectParam('price', 5)">Trên 20tr
                    <input type="radio" id="5" name="price" value="5"><span class="checkmark"></span>
                </label>

                <div class="form-title">Sắp xếp:</div>
                <label class="form-label" onclick="selectParam('sort', 0)">Tất cả
                    <input type="radio" id="0" name="sort" value="0" checked>
                    <span class="checkmark"></span>
                </label>
                <label class="form-label" onclick="selectParam('sort', 1)">Mới nhất
                    <input type="radio" id="1" name="sort" value="1">
                    <span class="checkmark"></span>
                </label>
                <label class="form-label" onclick="selectParam('sort', 2)">Giá tăng
                    <input type="radio" id="2" name="sort" value="2">
                    <span class="checkmark"></span>
                </label>
                <label class="form-label" onclick="selectParam('sort', 3)">Giá giảm
                    <input type="radio" id="3" name="sort" value="3">
                    <span class="checkmark"></span>
                </label>
            </form>
        </div>
        <div class="col-sm-10">
            {{#each mobiles}}
                <div class="col-md-3 col-sm-6 product-area">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img class="style-img-product" src={{pictures.0.link}} alt="">
                        </div>
                        <h4 class="title-product-name-style"><a href="/product/{{id}}">{{full_name}}</a></h4>
                        <div class="product-carousel-price">
                            <ins>Giá: {{price}}đ</ins>
                        </div>

                        <div class="product-option-shop">
                            {{#if user }}
                              <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                                rel="nofollow" href="#"><i class="fa fa-shopping-cart cart-amunt"></i></a>
                               {{else}}
                               <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                                rel="nofollow" href="#">
                                <button onclick="addToCart()">
                                <i class="fa fa-shopping-cart cart-amunt"></i>
                                </button>
                                </a>
                            {{/if}}
                            <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                               rel="nofollow" href="/product/{{id}}"><i class="fa fa-search cart-amunt"></i></a>
                            <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                               rel="nofollow" href="#"><i class="fa fa-heart cart-amunt"></i></a>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="col">
            <div class="row middle-pagination">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="{{pagination.prevPageLink}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">{{pagination.curPage}}</a></li>
                        <li class="page-item">
                            <a class="page-link" href="{{pagination.nextPageLink}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>


        <!--        <div class="row">-->
        <!--            <div class="col-md-12">-->
        <!--                <div class="product-pagination text-center">-->
        <!--                    <nav>-->
        <!--                        <ul class="pagination">-->
        <!--                            <li>-->
        <!--                                <a href="#" aria-label="Previous">-->
        <!--                                    <span aria-hidden="true">&laquo;</span>-->
        <!--                                </a>-->
        <!--                            </li>-->
        <!--                            <li><a href="?page=1">1</a></li>-->
        <!--                            <li><a href="?page=2">2</a></li>-->
        <!--                            <li><a href="?page=3">3</a></li>-->
        <!--                            <li><a href="?page=4">4</a></li>-->
        <!--                            <li><a href="?page=5">5</a></li>-->
        <!--                            <li>-->
        <!--                                <a href="#" aria-label="Next">-->
        <!--                                    <span aria-hidden="true">&raquo;</span>-->
        <!--                                </a>-->
        <!--                            </li>-->
        <!--                        </ul>-->
        <!--                    </nav>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
    <!--<div class="container">
        <div class="row">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="{{pagination.prevPageLink}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">{{pagination.curPage}}</a></li>
                    <li class="page-item">
                        <a class="page-link" href="{{pagination.nextPageLink}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>-->
</div>

{{#if user}}
{{else}}
  {{#section 'script'}}
    <script src="/js/cart/addToCart.js"></script>
  {{/section}}
{{/if}}

