<div class="container">
    <div class="admin-container-content">
        <header class="admin-container-content-header">
            <h1 class="row py-2 text-primary admin-container-content-header__title">
                Danh sách sản phẩm
            </h1>
        </header>
        <div class="row py-4">
            <div class="col-sm-8">
                <div class="row align-items-start admin-container-content-filter">
                    <div class="col-sm-10">
                        <div class="row pb-2">
                            <div class="col-sm-4">
                                <input type="text" class="form-control shadow-none" aria-label="Text input with dropdown button" placeholder="ID">
                            </div>
                            <div class="col-sm-4">
                                <div class="d-flex justify-content-between">
                                    <input type="text" class="form-control shadow-none" aria-label="Text input with dropdown button" placeholder="Tên">
                                    <div class="">
                                        <button class="btn btn-outline-secondary dropdown-toggle shadow-none" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <div class="dropdown-item" href="#">Galaxy</div>
                                            <div class="dropdown-item" href="#">Iphone X</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="d-flex justify-content-between">
                                    <input type="text" class="form-control shadow-none" aria-label="Text input with dropdown button" placeholder="Thương hiệu">
                                    <div class="">
                                        <button class="btn btn-outline-secondary dropdown-toggle shadow-none" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <div class="dropdown-item" href="#">Samsung</div>
                                            <div class="dropdown-item" href="#">Apple</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-2">
                        <button id="" type="button" class="btn btn-primary left"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <a class="" href="/admin/product/:add">
                    <button type="button" class="btn btn-primary shadow-none" data-toggle="modal">
                        <i class="fa fa-pencil"></i>
                        Thêm mới
                    </button>
                </a>
                <button type="button" class="btn btn-danger shadow-none">
                    <i class="fa fa-times-circle"></i>
                    Xóa
                </button>
            </div>
        </div>
        <div class="" id="">
            <label>
                Hiển thị
                <select name="" class="">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="-1">Tất cả</option>
                </select>
                dòng
            </label>
        </div>
        <div class="row py-4">
            <table class="table table-bordered admin-table">
                <thead class="admin-table-thead">
                <tr>
                    <th>
                        Chọn
                    </th>
                    <th>
                        ID
                    </th>
                    <th>
                        Tên
                    </th>
                    <th>
                        Thương hiệu
                    </th>
                    <th>
                        Giá
                    </th>
                    <th>
                        Rating
                    </th>
                    <th>
                        Ngày tạo
                    </th>
                    <th>
                        Ngày cập nhập
                    </th>
                    <th>
                        Ảnh
                    </th>
                </tr>
                </thead>
                <tbody class="admin-table-tbody">
                {{#each products}}
                <tr>
                    <td>
                        <input class="form-check-input" type="checkbox" id="">
                    </td>
                    <td>{{id}}</td>
                    <td>{{full_name}}</td>
                    <td>{{brand.name}}</td>
                    <td>{{price}}</td>
                    <td>{{rating}}</td>
                    <td>
                        {{created_at}}
                    </td>
                    <td>
                        {{updated_at}}
                    </td>
                    <td>
                        <img src="{{pictures.0.link}}"></img>
                    </td>
                </tr>                             
                {{/each}}
                </tbody>
            </table>
        </div>
        <footer class="row justify-content-center admin-order-footer">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </footer>
    </div>
</div>